<p>Anda yakin mau menghapus data ini ? </p>
Name : <span th:text="${productData.Name}"></span><br>
Category : <span th:text="${productData.category.name}"></span><br>
Desc : <span th:text="${productData.Description}"></span><br>
Price : <span th:text="${productData.Price}"></span><br>
<button th:value="${productData.id}" onclick="delCategory(this.value)">Delete!</button>