<form class="form" th:action="@{~/product/save}" action="" method="post" th:object="${product}">
    <input th:field="*{Id}" type="hidden" id="Id">
    Name : <input class="input" type="text" th:field="*{Name}"> <br>
    Category :
    <select th:field="*{CategoryId}">
        <option value="">Selection</option>
        <option th:each="item : ${categoryData}" th:value="${item.Id}"  th:text="${item.Name}">
        </option>
    </select>
    <br>
    Description : <input class="input" type="text" th:field="*{Description}"><br>
    Price : <input class="input" type="text" th:field="*{Price}"><br>
    <input class="button" type="submit" value="Simpan">
</form>