<table border="1" cellspacing="0" cellpadding="5">
    <thead>
    <tr>
        <td>No</td>
        <td>Name</td>
        <td>Description</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${categoryData.Id}"></td>
        <td th:text="${categoryData.Name}"></td>
        <td th:text="${categoryData.Description}"></td>
    </tr>
    </tbody>
</table>