<p>Anda yakin mau menghapus data ini ? </p>
Name : <span th:text="${category.Name}"></span><br>
Desc : <span th:text="${category.Description}"></span><br>
<button th:value="${category.id}" onclick="delCategory(this.value)">Delete!</button>