<form th:action="@{~/category/save}" method="post" th:object="${category}" enctype="multipart/form-data">
    <input th:field="*{Id}" type="hidden" id="Id">
    Name : <input class="input" type="text" th:field="*{Name}"> <br>
    Description : <input class="input" type="text" th:field="*{Description}"><br>
    File path: <input type="text" th:field="*{FilePath}" id="filetext" class="form-control"> <br>
    <input type="file" id="filepath" name="filepath" onchange="readurl(this)" class="form-control"> <br>
    <p><img src="#" id="avatar" height="90" border="1"></p>
    <input class="button" type="submit" value="Simpan">
</form>

<script>
    function readurl(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#avatar').attr('src', e.target.result);
                $('#filetext').val($('input[type=file]').val().replace(/C:\\fakepath\\/i,''))
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>