<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<body>
    <section layout:fragment="content">
    <button type="button" class="btn btn-dark mt-2 mb-3" onclick="openForm()">Tambah</button>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Description</th>
                <th>file</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item, iter:${categoryData}">
                <td th:text="${iter.count}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.description}"></td>
                <td>
<!--                    <img th:src="@{${'/files/' + item.FilePath}}" height="50" onclick="show(this.src)">-->
                    <img th:src="@{${item.FilePath}}" height="50" onclick="show(this.src)">
                </td>
                <td><button th:value="${item.id}" class="btn" onclick="editForm(this.value)">E</button></td>
                <td><button th:value="${item.id}" class="btn" onclick="deleteForm(this.value)">X</button></td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="mymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
    <!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
    <!--                <button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
    </div>

    <script>
        function openForm(){
            $.ajax({
                url:'/category/form',
                type:'get',
                contentType:'html',
                success:function(catForm){
                    $('#mymodal').modal('show');
                    $('.modal-title').html("Category Form");
                    $('.modal-body').html(catForm);
                }
            })
        }

        function editForm(id){
            $.ajax({
                url:'/category/editform/' + id,
                type:'get',
                contentType:'html',
                success:function(catForm){
                    $('#mymodal').modal('show');
                    $('.modal-title').html("Edit Category");
                    $('.modal-body').html(catForm);
                }
            })
        }

        function deleteForm(id){
            $.ajax({
                url:'/category/deleteform/' + id,
                type:'get',
                contentType:'html',
                success:function(catForm){
                    $('#mymodal').modal('show');
                    $('.modal-title').html("Delete Category");
                    $('.modal-body').html(catForm);
                }
            })
        }

        function delCategory(id){
            $.ajax({
                url:'/category/delete/' + id,
                type:'get',
                contentType:'html',
                success:function(catForm){
                    //$(".modal").modal("hide");
                    //alert("Deleted!");
                    location.reload();
                }
           })
        }
        function show(src){
             window.open(src);
        }

        function modalShow(src){
            var image = `<img src=` + src + ` width="100%">`;
            $('.modal-title').html("Show Picture");
            $('.modal-body').html(image);
            $(".modal").modal("show")
        }
    </script>
    </section>
</body>
</html>